<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FirstCMS{% endblock %}</title>
</head>
<body>

<div style="color: red;">
    {% block content %}
        {{ content }}
    {% endblock %}
</div>
</body>
</html>